.App {
  /*text-align: center;*/
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.separator-30 {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.separator-50 {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
}

.btn-order {
  margin-left: 5px;
}

.btn-comment {
  font-size: 0.7rem !important;
  margin: 0.25rem;
  margin-top: 0;
  padding: 0.1rem 0.35rem !important;
}

.loading {
  margin: 50px auto auto auto;
}

.post-controls {
  padding-bottom: 5px;
}
.voteScore {
  margin-left: 5px;
}

.comments-section {
  border: 1px #17a2b8 solid;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  border-radius: 0.25rem;
  padding-top: 15px;
  padding-bottom: 10px;
}

.comments-section .row {
  border-bottom: 1px #f2f2f2 solid !important;
  margin-bottom: 6px;
}

.comments-section .row:last-child {
  border: none !important;
}

.comment-score {
  margin: 0.25rem;
}

.add-comment-form {
  padding: 10px;
  background-color: #f1f1f1;
  border: 1px #f1f1f1 solid;
  border-radius: 0.25rem;
}

.user-img {
  color: #138496;
  margin-top: 0.2rem;
}

.btn-comment-edit {
  font-size: 0.85rem;
  background-color: inherit !important;
  color: inherit !important;
  border: none !important;
  padding: 0 0.8rem !important;
}

.btn-comment-edit:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media (max-width: 992px) {

}